PORT=4200

JWT_SECRET="your-super-secret-jwt-key"
JWT_ACCESS_SECRET="your_access_secret_key"
JWT_REFRESH_SECRET="your_refresh_secret_key"

DATABASE_URL=postgresql://user:password@host:port/database?schema=public
